<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.2" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.2" targetFramework="net452" />
  <package id="EPPlus" version="7.1.0" targetFramework="net452" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net452" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net452" />
  <package id="GeneticSharp" version="1.2.0" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net452" />
  <package id="SmartThreadPool.dll" version="2.2.4" targetFramework="net452" />
</packages>